@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<div class="flex items-center justify-end gap-3 text-black mt-[20px] px-4">
    <h2 class="text-base font-normal">@Title</h2>
    <button class="cursor-pointer" @onclick="GoBack">
        <ArrowLeft Stroke="currentColor" />
    </button>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}
