<CustomNavLink Href="@Item.Href" Match="@Item.Match" Class="flex flex-col items-center cursor-pointer"
    ActiveClass="text-[#533A93]" InactiveClass="text-[#989898]">
    @Item.Icon
    <span class="text-sm mt-2">@Item.Label</span>
</CustomNavLink>

@code {
    [Parameter]
    public required Nav Item { get; set; }
}