@page "/filters-result/{ItemTypeId:int?}"
@using WebComponent.Components.Filter
@inject ICatalogService CatalogService
@inject NavigationManager Nav
@attribute [StreamRendering]

<div class="container">
    <header class="header">
        <div class="app-bar">
            <span>Sort and Filter</span>
        </div>
        <NavLink href="filters">
            <button class="filter-trigger">
                <img src="assets/Icons/leftarrow.svg" alt="">
                <span>Options</span>
            </button>
        </NavLink>
    </header>

    <div class="main-content">
        <hr />

        <div class="view-label">
            <span>Sort by</span>
            <img src="assets/Icons/arange.svg" alt="">
        </div>

        <div class="view-options-container">
            <div class="view-options">
                <button class="view-option">VIP</button>
                <button class="view-option active">Low to High</button>
                <button class="view-option">High to Low</button>
            </div>
        </div>
    </div>

    <!-- Conditional Rendering for Product List -->
    @if (ItemTypeId > 0)
    {
        <div class="product-grid">
            <ProductListByType ItemTypeId="ItemTypeId" />
        </div>
    }
    else
    {
        
    }

    <button class="scroll-top-btn" onclick="scrollToTop()">
        <img src="assets/Icons/arrowup.png">
    </button>
</div>

@code {
    [Parameter]
    public int ItemTypeId { get; set; }
}
<script>
    window.onscroll = function () {
        toggleScrollTopButton();
    };

    function toggleScrollTopButton() {
        const scrollTopButton = document.querySelector('.scroll-top-btn');
        if (document.documentElement.scrollTop > 200) {
            scrollTopButton.classList.add('show');
        } else {
            scrollTopButton.classList.remove('show');
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>
