@page "/jewelers"
@layout Layout.DashboardLayout
@using GoldBazar.Client.Web.Components.Pages.Jewelers.Components

<PageTitle>GOLD BAZAR - Jewelers</PageTitle>


<main class="relative">
    <JewelersHeader />
    <JewelersStories />
    <JewelersList />
</main>


@code {

}