@page "/jewelers"
@rendermode InteractiveServer
@layout Layout.DashboardLayout

<PageTitle>GOLD BAZAR - Jewelers</PageTitle>


<main class="relative">
    <header class="sticky top-0 bg-white p-6">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl font-light">زەڕەنگەرەکان</h2>

            <div class="absolute top-4 left-6 bg-[#EF6060] rounded-xl p-3 text-white w-[160px]">
                <div class="flex items-center justify-between cursor-pointer" @onclick="ToggleLocations">
                    @foreach (var location in locations)
                    {
                        if (location.Id == selectedLocationId)
                        {
                            <span class="cursor-pointer" @onclick:stopPropagation
                                @onclick="() => SelectLocation(location.Id)">@location.Title</span>
                        }
                    }
                    <LocationIcon Stroke="currentColor" />
                </div>

                @if (isOpenLocations)
                {
                    <div class="flex flex-col gap-3 mt-3 bg-[#EF6060] rounded-xl w-full">
                        @foreach (var location in locations)
                        {
                            if (location.Id != selectedLocationId)
                            {
                                <span class="cursor-pointer" @onclick="() => SelectLocation(location.Id)">@location.Title</span>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </header>

    <section class="px-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, sed nostrum eveniet minima id minus quia dolorum
        maxime
        temporibus aliquid praesentium. Provident earum voluptas totam qui quaerat aut doloribus excepturi.
        سلام
    </section>
</main>

@code {
    public class Location
    {
        public int Id { get; set; }
        public string Title { get; set; } = string.Empty;
    }

    private bool isOpenLocations = false;
    private int selectedLocationId = 1;

    private void ToggleLocations()
    {
        isOpenLocations = !isOpenLocations;
    }

    private void SelectLocation(int id)
    {
        if (!isOpenLocations && selectedLocationId == id)
        {
            isOpenLocations = true;
            return;
        }

        selectedLocationId = id;
        isOpenLocations = false;
    }

    private List<Location> locations = new List<Location>
{
new Location { Id = 1, Title = "سنوری سلێمانی" },
new Location { Id = 2, Title = "سنوری هەولێر" },
new Location { Id = 3, Title = "سنوری دهۆک" },
new Location { Id = 4, Title = "هەمووی" }
};

}