@inject NavigationManager Navigation
@rendermode InteractiveServer
<header class="header">
    <div class="header-container">
        <div class="logo-section">
            <img src="Image/avita.svg" alt="Avita Logo" class="logo">
            <div>
                <div class="store-name" dir="ltr"> Avita Jewelry</div>
                <div class="store-subtitle" dir="ltr"> Soran dlshad</div>
            </div>
        </div>

        <div class="head-btn-container">
            <button class="language" @onclick="ShowPopup">
                <div class="language-icon">
                    <img src="Icons/internet.png" alt="Language" class="icon">
                </div>
            </button>

            <button class="notification">
                <div class="notification-icon">
                    <img src="Icons/not.svg" alt="Notification" class="icon">
                    <div class="notification-dot"></div>
                </div>
            </button>
        </div>

    </div>
</header>
@if (IsPopupVisible)
{
    <div class="overlay">
        <div class="popup">
            <h2>Select Language</h2>
            <button class="close" @onclick="HidePopup">&times;</button>
            <div class="options">
                <label>
                    <input type="radio" name="language" value="en-US" @onchange="(e) => ChangeLanguage(e.Value?.ToString())"
                        checked="@(selectedLanguage == "en-US")" />
                    English (EN)
                </label>
                <label>
                    <input type="radio" name="language" value="ar-IQ" @onchange="(e) => ChangeLanguage(e.Value?.ToString())"
                        checked="@(selectedLanguage == "ar-IQ")" />
                    Arabic (ع)
                </label>
                <label>
                    <input type="radio" name="language" value="ku-Arab"
                        @onchange="(e) => ChangeLanguage(e.Value?.ToString())" checked="@(selectedLanguage == "ku-Arab")" />
                    Kurdish (ک)
                </label>
            </div>
        </div>
    </div>
}
@code {
    private bool IsPopupVisible = false;
    private string selectedLanguage = CultureInfo.CurrentCulture.Name;

    private void ShowPopup()
    {
        IsPopupVisible = true;
    }

    private void HidePopup()
    {
        IsPopupVisible = false;
    }

    private void ChangeLanguage(string? language)
    {
        if (!string.IsNullOrEmpty(language) && language != selectedLanguage)
        {
            selectedLanguage = language;
            var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var cultureEscaped = Uri.EscapeDataString(language);
            var uriEscaped = Uri.EscapeDataString(uri);

            Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
        }
    }
}