@inject IStringLocalizer<Resource> localizer
@inject NavigationManager Nav
@rendermode InteractiveServer
<nav class="bottom-nav">
    <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
        <div class="nav-content">
            <img src="Icons\doc.svg" class="icon-outline" alt="">
            <img src="Icons\doc-fill.svg" class="icon-fill" alt="">
            <span>@localizer[nameof(Resource.NavOrders)]</span>
        </div>
    </NavLink>

    <!-- Center Button: No navigation, only triggers popup -->
    <div class="nav-item center-button" @onclick="ShowPopup">
        <div class="icon-plus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="svg-plus">
                <path d="M128,24a8,8,0,0,1,8,8v88h88a8,8,0,0,1,0,16H136v88a8,8,0,0,1-16,0V136H32a8,8,0,0,1,0-16h88V32A8,8,0,0,1,128,24Z"></path>
            </svg>
        </div>
    </div>
    <!-- Popup -->
    @if (IsPopupVisible)
    {
        <div class="popup-overlay" @onclick="HidePopup">
            <div class="popup-content" @onclick:stopPropagation>
                <button class="popup-button" @onclick="NavigateToStory">@localizer[nameof(Resource.StoryLabel)]</button>
                <button class="popup-button" @onclick="NavigateToAdd">@localizer[nameof(Resource.AddProductLabel)]</button>
            </div>
        </div>
    }
    <NavLink href="/info" class="nav-item">
        <div class="nav-content">
            <img src="Icons\category.svg" class="icon-outline" alt="">
            <img src="Icons\categoryFill.svg" class="icon-fill" alt="">
            <span>@localizer[nameof(Resource.NavInformation)]</span>
        </div>
    </NavLink>
</nav>
@code{
    private bool IsPopupVisible = false;

    private void ShowPopup()
    {
        IsPopupVisible = true;
    }

    private void HidePopup()
    {
        IsPopupVisible = false;
    }

    private void NavigateToStory()
    {
        HidePopup();
        Nav.NavigateTo("/story");
    }

    private void NavigateToAdd()
    {
        HidePopup();
        Nav.NavigateTo("/add");
    }
}