<a class="category__item" href="#!">
    <div class="category__item-icon flex size-[60px] items-center justify-center rounded-full bg-white">
        <img class="size-[42px]" src="@Category.Image" alt="category icon" />
    </div>
    <h2 class="category__item-title mt-0.5 text-center text-sm leading-[22px] font-light text-white">
        @Category.Title
    </h2>
</a>

@code {
    [Parameter]
    public required Category Category { get; set; }
}