<div class="header__branding flex items-center justify-center">
    <span class="header__logo">
        <img src="/images/gb/logo.png" alt="Gold Bazar Logo" class="size-[50px] md:size-[70px]" />
    </span>
</div>