@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  scrollbar-width: none;
}

body {
  height: 100%;
}

/* Swiper pagination */
.home-page .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 2px !important;
}

.home-page .swiper-pagination-bullet-active {
  background: rgba(84, 83, 82, 0.77);
  width: 16.71px;
  height: 6px;
  border-radius: 22px;
}

/* Swiper pagination */
.product-details .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px !important;
  background: #d9d9d9;
}

.product-details .swiper-pagination-bullet-active {
  background: #8d62f98a;
}
