<button type="submit"
    class="p-3 mt-4 cursor-pointer text-white rounded-2xl text-[18px] bg-[linear-gradient(99.1deg,_rgba(141,98,249,0.92)_0.76%,_rgba(68,25,177,0.8832)_118.26%)]">@Title</button>

@code {
    [Parameter]
    [EditorRequired]
    public string Title { get; set; } = string.Empty;
}