@page "/"
@layout Layout.DashboardLayout
@using GoldBazar.Client.Web.Components.Pages.Home.Components

<PageTitle>GOLD BAZAR</PageTitle>

<HomeHeader />

<main class="mt-[35px]">
    <Slider />
    <CategoryList />
    <ProductList />
</main>