<div class="container">
    <div class="cat-bg">
        <nav class="categories">
            @foreach (var category in CategoryList)
            {
                <div class="category-item">
                    <div class="category-icon">
                        <img src="@category.Icon" alt="@category.Name">
                    </div>
                    <span>@category.Name</span>
                </div>
            }
        </nav>
    </div>
</div>

@code {
    public class CategoryModel
    {
        public string Name { get; set; }
        public string Icon { get; set; }
    }

    List<CategoryModel> CategoryList = new()
    {
        new CategoryModel { Name = "Belt", Icon = "png/012-belt.png" },
        new CategoryModel { Name = "Earrings", Icon = "png/009-earrings.png" },
        new CategoryModel { Name = "Bracelet", Icon = "png/002-bracelet.png" },
        new CategoryModel { Name = "Necklace", Icon = "png/007-necklace.png" },
        new CategoryModel { Name = "Ring", Icon = "png/005-wedding-ring.png" },
        new CategoryModel { Name = "Anklet", Icon = "png/011-bracelet-2.png" },
        new CategoryModel { Name = "Traditional", Icon = "png/014-necklace-2.png" },
        new CategoryModel { Name = "Nose piercing", Icon = "png/010-piercing.png" },
        new CategoryModel { Name = "Hand watch", Icon = "png/004-watch.png" },
        new CategoryModel { Name = "Cuff bracelet", Icon = "png/003-bracelet-1.png" },
        new CategoryModel { Name = "Tiara", Icon = "png/013-tiara.png" },
        new CategoryModel { Name = "Engagement ring", Icon = "png/006-engagement-ring.png" },
        new CategoryModel { Name = "Pendants", Icon = "png/008-necklace-1.png" },
        new CategoryModel { Name = "Full sets", Icon = "png/015-necklace-3.png" },
        new CategoryModel { Name = "Lira", Icon = "png/001-turkish-lira.png" }
    };
}
