.gallery {
    height: 300px;
    position: relative;
    background: #f8f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery_container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

.gallery-slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background: #f8f8fa;
}

.gallery-slider {
    display: flex;
    transition: transform 0.5s ease-out;
}

.gallery-slide {
    flex: 0 0 100%;
    position: relative;
    display: none;
}

.gallery-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.gallery-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

    .dot.active {
        background: white;
        width: 10px;
        height: 10px;
    }