@inject IProductImageUrlProvider ImageProvider

<div class="gallery">
    <div class="gallery_container">
        <img src="@ImageProvider.GetProductImageUrl(ItemId)" alt="Product" class="gallery_image">
    </div>
</div>

@code {
    [Parameter] public int ItemId { get; set; }
}
