.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.product-card {
    flex: 0 0 auto;
    height: 320px;
    max-width: 240px;
    scroll-snap-align: start;
}

.product-grid::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
@media screen and (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}
