@inject ICatalogService CatalogService
@inject IProductImageUrlProvider ImageProvider
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager Nav
@attribute [StreamRendering]

<MudContainer>
    <div class="similar-products">
        <h3 class="section-title">@Localizer[nameof(Resource.SimilarProductsLabel)]</h3>
        <MudGrid Justify="Justify.Center" Spacing="5">
            @if (!_similarProducts.Any())
            {
                <p>@Localizer[nameof(Resource.NoSimilarProductsLabel)]</p>
            }
            else
            {
                foreach (var product in _similarProducts)
                {
                    <MudItem>
                        <ProductCard Item="product"></ProductCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </div>
</MudContainer>
