@inject CatalogService CatalogService
@inject IProductImageUrlProvider ImageProvider
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager Nav
@attribute [StreamRendering]

<div class="similar-products">
    <h3 class="section-title">@localizer[nameof(Resource.SimilarProductsLabel)]</h3>
    <div class="product-grid">
        @if (similarProducts == null)
        {
            <p>Loading...</p>
        }
        else if (!similarProducts.Any())
        {
            <p>@localizer[nameof(Resource.NoSimilarProductsLabel)]</p>
        }
        else
        {
            @foreach (var product in similarProducts)
            {
               <ProductCard Item="product" />
            }
        }
    </div>
</div>

@code {
    [Parameter] public int TypeId { get; set; }

    private IEnumerable<CatalogItem> similarProducts = Enumerable.Empty<CatalogItem>();

    protected override async Task OnInitializedAsync()
    {
        similarProducts = await CatalogService.GetSimilarProducts(TypeId);
    }
}