@using GoldBazar.Client.Web.Components.Shared.Icons

<div class="h-[170px] px-4 py-4 w-full mt-3 rounded-xl border-2 border-[#F3F3F3]">
    <div class="flex justify-between">
        <div style="color:@labelColor; background-color:@labelBgColor;"
            class="px-2 py-1 font-light text-xs border border-[#F2F0F9] [border-width:1.37px] rounded-[14px]">
            داشکاندنی ڕۆژانە
        </div>
        <PercentIcon Color="#000" Height="18" Width="18" />
    </div>
    <h4 class="text-lg font-light my-3 text-[#3D3D3D]">زێڕی دەستکرد</h4>
    <span class="font-light text-base text-[#727272]">داشکاندن لەسەر زێڕی دەستکرد</span>
    <div class="flex justify-between mt-4">
        <div class="flex">
            <ClockIcon Color="@textColor" Height="16" Width="16" />
            <span style="color:@textColor;" class="text-sm font-light px-2">٣ کاتژمێر ماوە</span>
        </div>
        <span class="text-sm font-light text-[#8D62F9]">سوود وەرگرتن</span>
    </div>
</div>

@code {
    [Parameter]
    public bool isValid { get; set; }

    private string labelColor => isValid ? "#EF6060" : "#178B5E";
    private string labelBgColor => isValid ? "#EF606026" : "#CDF9E4";
    private string textColor => isValid ? "#D48C8C" : "#989898";
}
