<section class="px-6">
    <h2 class="text-[15px] font-light">چیرۆکی ڕۆژانە</h2>

    <div class="mt-4 flex overflow-x-auto gap-1 h-[216px]">
        <div class="relative w-[129px] shrink-0 rounded-2xl overflow-hidden border border-[#F1EDED]">
            <div class="absolute size-full top-0 left-0 opacity-50"
                style="background: linear-gradient(179.93deg, rgba(255, 255, 255, 0) 0.09%, rgba(32, 32, 32, 0.83) 99.94%);">
            </div>
            <img class="size-full" src="/images/jewelers/stories/1.png" alt="">
            <h3 class="absolute bottom-1 left-3 text-[#DEDEDE] z-10 text-base font-light">Divine Jewelry</h3>
        </div>
        <div class="relative w-[129px] shrink-0 rounded-2xl overflow-hidden border border-[#F1EDED]">
            <div class="absolute size-full top-0 left-0 opacity-50"
                style="background: linear-gradient(179.93deg, rgba(255, 255, 255, 0) 0.09%, rgba(32, 32, 32, 0.83) 99.94%);">
            </div>
            <img class="size-full" src="/images/jewelers/stories/2.png" alt="">
            <h3 class="absolute bottom-1 left-3 text-[#DEDEDE] z-10 text-base font-light">sarzhin Jewelry</h3>
        </div>
        <div class="relative w-[129px] shrink-0 rounded-2xl overflow-hidden border border-[#F1EDED]">
            <div class="absolute size-full top-0 left-0 opacity-50"
                style="background: linear-gradient(179.93deg, rgba(255, 255, 255, 0) 0.09%, rgba(32, 32, 32, 0.83) 99.94%);">
            </div>
            <img class="size-full" src="/images/jewelers/stories/3.png" alt="">
            <h3 class="absolute bottom-1 left-3 text-[#DEDEDE] z-10 text-base font-light">Avita Jewelry</h3>
        </div>
    </div>
</section>