@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@page "/jewelers/{jewelerId:int}"

<PageTitle>GOLD BAZAR</PageTitle>

<main>
    <header class="relative">
        <div class="relative w-full h-[160px] overflow-hidden border-b-2 border-[#EBAD42]">
            <img src="/images/jewelers/single/1.png" alt="..."
                class="absolute top-0 left-0 w-full h-full object-cover" />
        </div>

        <button
            class="cursor-pointer flex items-center justify-center absolute top-6 left-4 bg-white/20 backdrop-blur-[80px] text-white size-[43px] rounded-[10px]"
            @onclick="GoBack">
            <ArrowLeft Stroke="currentColor" Width="24" Height="24" />
        </button>

        <div
            class="size-[90px] overflow-hidden absolute top-[115px] right-4 border-2 border-[#EBAD42] rounded-[10px] bg-white">
            <img src="/images/jewelers/1.png" alt="..." class="absolute top-0 left-0 w-full h-full object-cover" />
        </div>

        <div class="flex justify-between items-start">
            <div class="mt-[56px] px-4">
                <h2 class="mx-3 text-xl">ئەڤیتا ستۆر</h2>

                <div class="text-black text-xl flex items-center mx-2 mt-4">
                    <LocationIcon Stroke="currentColor" />
                    <h3 class="mr-2">سلێمانی ، بەرامبەر سەرا</h3>
                </div>

                <div class="text-[#CB8A1B] bg-[#EBAD4233] p-2 rounded-xl text-[18px] flex items-center mx-2 mt-3">
                    <span class="mb-1">
                        <LocationIcon2 Color="currentColor" Width="20" Height="20" />
                    </span>
                    <h3 class="mx-2">ناونیشان لەسەر نەخشە</h3>
                </div>
            </div>

            <div class="mt-[87px] mx-3 flex flex-col justify-center items-end">
                <div
                    class="w-[90px] rounded-[34px] h-[30px] border borded-2 border-[#EBAD42] flex justify-center items-center">
                    <h5 class="text-[#A39999] text-sm ml-2 border-l border-[#A39999] leading-3 pl-1">
                        123
                    </h5>
                    <span class="mb-0.5">
                        <StarIcon Color="#EBAD42" Height="12" Width="12" />
                    </span>
                    <h6 class="text-base font-normal mr-1">
                        4.5
                    </h6>
                </div>

                <div class="flex w-[104px] items-center justify-between mt-2">
                    <StarIcon Stroke="#000" Height="16" Width="16" />
                    <StarIcon Stroke="#000" Height="16" Width="16" />
                    <StarIcon Stroke="#000" Height="16" Width="16" />
                    <StarIcon Stroke="#000" Height="16" Width="16" />
                    <StarIcon Stroke="#000" Height="16" Width="16" />
                </div>
            </div>
        </div>
    </header>

    <section class="px-4 mt-10">
        <h2 class="text-[#565656] text-base font-normal">بەرهەمەکانی زەڕەنگەر</h2>

        @* get all category from server that available for this jeweler, and show them *@
        <div class="flex flex-wrap mt-4 gap-2.5">
            <div class="cursor-pointer tracking-wider text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">هەمووی
            </div>
            <div class="cursor-pointer tracking-wider text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">پشتێن</div>
            <div
                class="tracking-wider text-white bg-[linear-gradient(99.1deg,_rgba(141,98,249,0.92)_0.76%,_rgba(68,25,177,0.8832)_118.26%)] py-2.5 px-4 rounded-3xl">
                گوارە</div>
            <div class="cursor-pointer tracking-wide text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">مستیلە</div>
            <div class="cursor-pointer tracking-wide text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">بازنە</div>
            <div class="cursor-pointer tracking-wide text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">سەعات</div>
            <div class="cursor-pointer tracking-wide text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">پاوانە</div>
            <div class="cursor-pointer tracking-wide text-[#696969] bg-[#E0E0E0EB] py-2.5 px-4 rounded-3xl">ملوانکە
            </div>
        </div>

        @* get products from server base on selected category (by defaut all category) and show them *@
        <div class="mt-8">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                @if (Products == null || Products.Count == 0)
                {
                    <p class="text-center col-span-4">No products available.</p>
                }
                else
                {
                    @foreach (var Product in Products.Data)
                    {
                        <ProductItem Product="@Product" />
                    }
                }
            </div>
        </div>
    </section>

</main>

@code {
    [Parameter]
    public int jewelerId { get; set; }

    private ItemResult Products = default!;

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}
