@rendermode InteractiveServer
@page "/jewelers/{jewelerId:int}"

<PageTitle>GOLD BAZAR - @jewelerId</PageTitle>

<h1>Jeweler Details @jewelerId</h1>

@code {
    [Parameter]
    public int jewelerId { get; set; }
}