@page "/jewelers"
@layout Layout.DashboardLayout

<PageTitle>GOLD BAZAR - Jewelers</PageTitle>


<main class="relative">
    <JewelersHeader />
    <JewelersStories />
    <JewelersList />
</main>


@code {

}
