<div class="activity-card">
    <div class="activity-header">
        <div class="activity-title">مامەڵەکانی ئەم دوایە</div>
    </div>

    <div class="activity-list">
        @foreach (var item in Activities)
        {
            <div class="activity-row">
                <div class="activity-left">
                    <div class="activity-price">@item.Price</div>
                    <div class="activity-date">@item.Date</div>
                </div>

                <div class="activity-icon">
                    <div class="activity-right">
                        <div class="activity-name">@item.Name</div>
                        <div class="activity-code">کۆد: @item.Code</div>
                    </div>
                    <div class="icon-box">
                        <img src="Icons/bag-grey.svg" alt="icon" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public List<RecentActivityModel> Activities { get; set; } = new();

    public class RecentActivityModel
    {
        public string Price { get; set; }
        public string Date { get; set; }
        public string Name { get; set; }
        public string Code { get; set; }
    }
}
