@inject NavigationManager Navigation
@rendermode InteractiveServer
<div class="language-selector">
    <MudSelect T="CultureInfo" @bind-Value="Culture" Label="Select language" Placeholder="Please Select" Class="pa-4"
               AdornmentIcon="@Icons.Material.Filled.Language" AdornmentColor="Color.Default">
        @foreach (var culture in _cultures)
        {
            <MudSelectItem Value="@culture">@culture.DisplayName</MudSelectItem>
        }
    </MudSelect>
</div>
