    <nav class="bottom-nav" >
        <NavLink href="/orders" class="bottom-nav-item">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.9691 23.3944H17.6362C19.7157 23.3944 20.7502 22.35 20.7502 20.2504V5.01256C20.7502 2.92328 19.7157 1.8587 17.6362 1.8587H6.9691C4.89996 1.8587 3.8551 2.92327 3.8551 5.01299V20.2504C3.8551 22.3496 4.89996 23.3944 6.9691 23.3944ZM7.04925 21.7774C6.01467 21.7774 5.4721 21.2246 5.4721 20.2204V5.04299C5.4721 4.0487 6.01467 3.4757 7.05953 3.4757H17.5561C18.6005 3.4757 19.1332 4.03842 19.1332 5.04299V20.2204C19.1332 21.2246 18.6005 21.7774 17.566 21.7774H7.04925ZM8.50596 7.67442H16.1195C16.471 7.67442 16.7422 7.39328 16.7422 7.04185C16.7422 6.70027 16.4714 6.43927 16.1195 6.43927H8.50596C8.13396 6.43927 7.87296 6.70027 7.87296 7.04185C7.87296 7.39328 8.13439 7.67442 8.50596 7.67442ZM8.50596 11.1801H16.1195C16.471 11.1801 16.7422 10.899 16.7422 10.5471C16.7422 10.206 16.4714 9.94456 16.1195 9.94456H8.50596C8.13396 9.94456 7.87296 10.206 7.87296 10.5471C7.87296 10.8986 8.13439 11.1801 8.50596 11.1801ZM8.50596 14.6858H12.112C12.4634 14.6858 12.7347 14.4146 12.7347 14.073C12.7347 13.7216 12.4634 13.4503 12.112 13.4503H8.50553C8.13353 13.4503 7.87253 13.7216 7.87253 14.073C7.87253 14.4146 8.13396 14.6858 8.50553 14.6858" fill="#989898" fill-opacity="0.92"/>
            </svg>
            <span class="bottom-nav-label">Orders</span>
        </NavLink>
         <NavLink href="/addnewproduct" class="bottom-nav-item">            
            <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_247_1640)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.64856 25.2203C1.64856 6.6608 7.83686 0.472504 26.3964 0.472504C44.9559 0.472504 51.1441 6.6608 51.1441 25.2203C51.1441 43.7798 44.9559 49.968 26.3964 49.968C7.83686 49.968 1.64856 43.7798 1.64856 25.2203Z" fill="url(#paint0_linear_247_1640)" fill-opacity="0.92" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.3964 16.1358V34.3048" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M35.4899 25.2203H17.3022" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_247_1640" x1="1.64856" y1="3.19689" x2="67.4292" y2="13.729" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8D62F9"/>
                    <stop offset="1" stop-color="#4419B1" stop-opacity="0.96"/>
                </linearGradient>
                <clipPath id="clip0_247_1640">
                     <rect width="51" height="50" fill="white" transform="translate(0.499939 0.626556)"/>
                </clipPath>
                </defs>
            </svg>
            <span class="bottom-nav-label"></span>
        </NavLink>
         <NavLink href="/" class="bottom-nav-item">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.4473 11.1266C20.7945 11.1266 22.6973 9.22377 22.6973 6.87656C22.6973 4.52935 20.7945 2.62656 18.4473 2.62656C16.1001 2.62656 14.1973 4.52935 14.1973 6.87656C14.1973 9.22377 16.1001 11.1266 18.4473 11.1266Z" stroke="#989898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.94727 11.1266C9.29448 11.1266 11.1973 9.22377 11.1973 6.87656C11.1973 4.52935 9.29448 2.62656 6.94727 2.62656C4.60006 2.62656 2.69727 4.52935 2.69727 6.87656C2.69727 9.22377 4.60006 11.1266 6.94727 11.1266Z" stroke="#989898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.4473 22.6266C20.7945 22.6266 22.6973 20.7238 22.6973 18.3766C22.6973 16.0293 20.7945 14.1266 18.4473 14.1266C16.1001 14.1266 14.1973 16.0293 14.1973 18.3766C14.1973 20.7238 16.1001 22.6266 18.4473 22.6266Z" stroke="#989898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.94727 22.6266C9.29448 22.6266 11.1973 20.7238 11.1973 18.3766C11.1973 16.0293 9.29448 14.1266 6.94727 14.1266C4.60006 14.1266 2.69727 16.0293 2.69727 18.3766C2.69727 20.7238 4.60006 22.6266 6.94727 22.6266Z" stroke="#989898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <span class="bottom-nav-label">Home</span>
        </NavLink>
    </nav>