/* Base Variables */
:root {
    /* Colors */
    --primary: #8060f4;
    --primary-light: #6c47ff;
    --primary-transparent: rgba(141, 98, 249, 0.1);
    --secondary-color: #ff4757;
    
    /* Background Colors */
    --bg-main: #ffffff;
    --bg-secondary: #ffffff;
    --bg-tertiary: #f1f1f1;
    --bg-category: #ffffff;
    --bg-card: #ffffff;
    --details-bg:#fff5f1;
    --store-card-bg:rgba(255, 162, 0, 0.079);

    
    /* Text Colors */
    --text-primary: #1A1A1A;
    --text-primary-on-purple: #ffffff;
    --text-secondary: #666666;
    --text-tertiary: #999999;
    
    /* Border Colors */
    --border-color: #E0E0E0;
    --border-light: #f0f0f0;
    --border-purple: #5e42ff32;
    --store-border:#ebad42;
    
    /* Special Colors */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --gradient-primary: linear-gradient(135deg, #8060f4 0%, #6c47ff 100%);
    --gradient-category: linear-gradient(to right, #8060f4, #4f46e5);
    
    /* UI Elements */
    --border-radius-sm: 10px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;
    --border-radius-full: 50%;
    
    /* Spacing */
    --container-padding: clamp(8px, 2vw, 16px);
    --grid-gap: clamp(8px, 2vw, 16px);
    
    /* Shadows */
    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 -2px 10px rgba(0, 0, 0, 0.1);

    /* png Color */
   --Icon-filter: brightness(0) saturate(100%);
   --badge-filter:brightness(0) saturate(100%) invert(35%) sepia(84%) saturate(1731%) hue-rotate(234deg) brightness(95%) contrast(92%);


    
}

[data-theme="dark"] {
    /* Colors */
    --primary: #6c47ff;
    --primary-light: #8060f4;
    --primary-transparent: rgba(141, 98, 249, 0.2);
    --secondary-color: #ff4756b2;

    
    /* Background Colors */
    --bg-main: #121212;
    --bg-secondary: #1E1E1E;
    --bg-tertiary: #2A2A2A;
    --bg-category: #2A2A2A;
    --bg-card: #1E1E1E;
    --details-bg:#212121;
    --store-card-bg:rgba(71, 45, 0, 0.16);

    
    /* Text Colors */
    --text-primary: #ffffff;
    --text-secondary: #A0A0A0;
    --text-tertiary: #808080;
    
    /* Border Colors */
    --border-color: #2A2A2A;
    --border-light: #2A2A2A;
    --border-purple: #6c47ff32;
    --store-border:#3d3d3d;

    
    /* Special Colors */
    --shadow-color: rgba(0, 0, 0, 0.3);
    --gradient-primary: linear-gradient(135deg, #6c47ff 0%, #8060f4 100%);
    --gradient-category: linear-gradient(to right, #6c47ff, #4f46e5);


    /* png Color */
    
    --Icon-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg) brightness(108%) contrast(108%);
    --badge-filter:brightness(0) saturate(100%) invert(35%) sepia(84%) saturate(1731%) hue-rotate(234deg) brightness(100%) contrast(70%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'zain';
    src: url('font/zain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'trebuc';
    src: url('font/trebuc.ttf') format('truetype'),
         url('font/trebuc.otf') format('opentype'),
         url('font/trebuc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: Zain;
}

body {
 font-family: Zain;
    background-color: var(--bg-main);
    color: var(--text-color);
    
    /* height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%; */
    font-size: clamp(14px, 1vw + 10px, 18px);
    line-height: 1.5;
}
.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    min-height: 100vh;
    /* align-items: center;
    justify-content: center; */
}
/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--container-padding);
    padding-bottom: 80px;
}
 */
input, button, select, textarea {
    font-family: 'zain';
}
.bold{
    font-family:'zain';
}
.header__title{
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
}
a{
    text-decoration: none;

}

button, a, input, select, textarea {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}

.icon{
    filter: var(--Icon-filter);
}

button{
    font-family: 'zain';

}
