@inject ICatalogService CatalogService
@inject NavigationManager Navigation
@inject IStringLocalizer<Resource> Localizer

@if (!Products.Any())
{
    <p>@Localizer["NoProductsFound"]</p>
}
else
{
    <div class="container-fluid row">
        <div class="product-grid">
            @foreach (var product in Products)
            {
                <ProductCard Item="product"/>
            }
        </div>
    </div>
}
