@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

@using GoldBazar.Client.Web.Components.Shared.Icons

<div class="flex items-center justify-end gap-3 text-black mt-[19px] px-6">
    <h2 class="text-base font-normal">@Product?.Name</h2>
    <button class="cursor-pointer" @onclick="GoBack">
        <ArrowLeft Stroke="currentColor" />
    </button>
</div>

@code {
    [Parameter]
    public Product? Product { get; set; }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}