@page "/"
@using WebComponent.Components.Products
@inject CatalogService catalogservice
<h3>Orders</h3>
    @if (catalogResult is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var product in catalogResult.Data)
        {
            <ProductCard Item="product" />
            
        }
         <div class="page-links">
               
        </div>
    }

@code {

}

