@page "/orders"

<main class="main-content">
    <div class="products-grid">
        <RecentOrders 
            Title="گوارەی گوڵی خۆر"
            OldPrice="$199"
            NewPrice="$179"
            Quantity=1
            Weight="4.5g"
            Size="34"
            Karat="21"
                      User=" لانە نەوزاد"
            Code="2342211"
            Location="هەولێر"
                      ImageUrl="Image/avita.svg" />

        <RecentOrders Title="گوارەی پەپوولە"
            OldPrice="$199"
            NewPrice="$179"
            Weight="4.5g"
            Size="34"
            Quantity=2
            Karat="21"
                      User=" لانە نەوزاد"
            Code="2342211"
            Location="هەولێر"
            ImageUrl="Image/avita.svg" />
    </div>
</main>
@code {

}

