@page "/splash"
@layout EmptyLayout

<body>
    <div>
        <img src="_content/WebComponent/assets/Image/decore.png" id="decor" />
        <img src="_content/WebComponent/assets/Image/backofsplash.png"  />
        
 </div>
    <div class="logo-section">
        <img src="_content/WebComponent/assets/Icons/l4.svg" class="logo" />
        <h2>بەخێربێیت بۆ گۆڵد بازاڕ</h2>
    </div>
</body>
<script>
    setTimeout(function () {
        window.location.href = "/first";
    }, 3000); 
</script>
