
.sidebar {
    width: 250px;
    background-color: var(--bg-main);
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.bottom-nav-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white; /* Ensure white background */
    z-index: 1500; /* Higher than the product grid */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Shadow to keep visibility */
}

/* Reserve space for nav to avoid overlap */
main {
    flex: 1;
    padding-bottom: 100px; /* Adjust height to navbar */
    overflow-y: auto;
}
