@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <MudThemeProvider />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        @Body
    </div>

</div>

