<header class="header">
    <div class="left-section" @onclick="NavigateToHome" @onclick:preventDefault>

        <img src="_content/WebComponent/assets/Icons/headerlogo.png" alt="Gold Bazar" class="logo" />
    </div>
    <div class="right-section">
        <a href="/wishlist" class="app-icon outlined">
            <img src="_content/WebComponent/assets/Icons/Heart.svg" alt="Wishlist" />
        </a>
        <a href="/cart" class="app-icon outlined">
            <img src="_content/WebComponent/assets/Icons/cart.svg" alt="Cart" />
        </a>
    </div>
</header>
