<nav class="bottom-nav">
    <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
        <div class="nav-content">
            <img src="/assets/Icons/applogo2.svg" class="icon-outline" alt="">
            <img src="/assets/Icons/applogo.svg" class="icon-fill" alt="">
            <span>Home</span>
        </div>
    </NavLink>

    <NavLink href="/filters-result" class="nav-item">
        <div class="nav-content">
            <img src="/assets/Icons/category.svg" class="icon-outline" alt="">
            <img src="/assets/Icons/categoryFill.svg" class="icon-fill" alt="">
            <span>Categories</span>
        </div>
    </NavLink>

    <NavLink href="/offers" class="nav-item">
        <div class="nav-content">
            <img src="/assets/Icons/offer.svg" class="icon-outline" alt="">
            <img src="/assets/Icons/offerFill.svg" class="icon-fill" alt="">
            <span>Offers</span>
        </div>
    </NavLink>

    <NavLink href="/goldsmiths" class="nav-item">
        <div class="nav-content">
            <img src="/assets\Icons\shopfill.svg" class="icon-outline" alt="">
            <img src="/assets\Icons\shopnofill.svg" class="icon-fill" alt="">
            <span>Jewlers</span>
        </div>
    </NavLink>

    <NavLink href="/profile" class="nav-item">
        <div class="nav-content">
            <img src="/assets/Icons/profile.svg" class="icon-outline" alt="">
            <img src="/assets/Icons/profileFill.svg" class="icon-fill" alt="">
            <span>Account</span>
        </div>
    </NavLink>
</nav>