<div
    class="py-4 flex justify-center flex-col absolute transition-all delay-150 duration-300 ease-in-out rounded-t-3xl bg-white w-full shadow-[0px_-5px_50px_rgba(0,0,0,0.14)] @CssClass()">
    <div class="flex justify-center text-xl text-center">
        <h1 class="text-[#0000009E] w-[310px] ">ئەو ناونیشانە هەڵبژێرە کە دەتەوێت بۆتی بگەیەنین</h1>
    </div>
    <div class="flex flex-col my-12 mx-6 gap-y-4">

        <div class="h-[64px] rounded-[12px] border-[1.17px] border-[#4C46E3] p-2 wrap-break-word">
            <h4 class="text-sm text-[#0000009E]">ناونیشانی دیاریکراو</h4>
            <span class="text-lg text-[#00000080]">سلێمانی ، گوندی ئەڵمانی ، شوقەی ٢١ قاتی ٤</span>
        </div>

        <div class="h-[64px] rounded-[12px] border-[1.17px] border-[#D1D1D1] flex items-center justify-between px-3">
            <span class="text-lg text-[#00000080]">زیادکردنی ناونیشانی نوێ</span>
            <a>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="48" height="48" rx="12" fill="#4C46E3" fill-opacity="0.2" />
                    <path
                        d="M32 25.3307H25.3333V31.9974C25.3333 32.351 25.1928 32.6902 24.9428 32.9402C24.6927 33.1903 24.3536 33.3307 24 33.3307C23.6463 33.3307 23.3072 33.1903 23.0571 32.9402C22.8071 32.6902 22.6666 32.351 22.6666 31.9974V25.3307H16C15.6463 25.3307 15.3072 25.1903 15.0572 24.9402C14.8071 24.6902 14.6666 24.351 14.6666 23.9974C14.6666 23.6438 14.8071 23.3046 15.0572 23.0546C15.3072 22.8045 15.6463 22.6641 16 22.6641H22.6666V15.9974C22.6666 15.6438 22.8071 15.3046 23.0571 15.0546C23.3072 14.8045 23.6463 14.6641 24 14.6641C24.3536 14.6641 24.6927 14.8045 24.9428 15.0546C25.1928 15.3046 25.3333 15.6438 25.3333 15.9974V22.6641H32C32.3536 22.6641 32.6927 22.8045 32.9428 23.0546C33.1928 23.3046 33.3333 23.6438 33.3333 23.9974C33.3333 24.351 33.1928 24.6902 32.9428 24.9402C32.6927 25.1903 32.3536 25.3307 32 25.3307Z"
                        fill="#4C46E3" />
                </svg>
            </a>
        </div>

        <div class="h-[64px] rounded-[12px] border-[1.17px] border-[#D1D1D1] flex items-center justify-between px-3">
            <span class="text-lg text-[#00000080]">ناونیشانی ئێستام</span>
            <a>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="48" height="48" rx="12" fill="#4C46E3" fill-opacity="0.2" />
                    <path
                        d="M32.9999 15L26.4999 33C26.4561 33.0957 26.3856 33.1769 26.297 33.2338C26.2084 33.2906 26.1053 33.3209 25.9999 33.3209C25.8946 33.3209 25.7915 33.2906 25.7029 33.2338C25.6143 33.1769 25.5438 33.0957 25.4999 33L21.9999 26L14.9999 22.5C14.9042 22.4561 14.8231 22.3857 14.7662 22.2971C14.7093 22.2084 14.6791 22.1053 14.6791 22C14.6791 21.8947 14.7093 21.7916 14.7662 21.7029C14.8231 21.6143 14.9042 21.5439 14.9999 21.5L32.9999 15Z"
                        stroke="#4C46E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>

    </div>
    <div class="flex justify-center">
        <button class="h-[68px] w-[277px] rounded-[51px] bg-[#4C46E3] text-white text-2xl">داواکردن</button>
    </div>
</div>

@code {
    [Parameter]
    public required bool Show { get; set; }

    private string CssClass()
    {
        if (Show) return "bottom-0";
        return "bottom-0 translate-y-[1000px]";
    }
}