.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    margin-top:-30px;
}

article {
    max-width: 1200px;
    margin: 0 auto;
}
