<nav class="container">
    <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
        <div class="nav-content">
            <img src="category.svg" class="icon-outline" alt="">
            <img src="categoryFill.svg" class="icon-fill" alt="">
            <span class="nav-label">Dashboard</span>
        </div>
    </NavLink>

    <NavLink href="/delivered" class="nav-item">
        <div class="nav-content">
            <img src="send.svg" class="icon-outline" alt="">
            <img src="sendfill.svg" class="icon-fill" alt="">
            <span class="nav-label">Orders</span>
        </div>
    </NavLink>

    <NavLink href="/goldsmith" class="nav-item">
        <div class="nav-content">
            <img src="shopfill.svg" class="icon-outline" alt="">
            <img src="shopnofill.svg" class="icon-fill" alt="">
            <span class="nav-label">Goldsmith</span>
        </div>
    </NavLink>

    <NavLink href="/user" class="nav-item">
        <div class="nav-content">
            <img src="profile.svg" class="icon-outline" alt="">
            <img src="profileFill.svg" class="icon-fill" alt="">
            <span class="nav-label">Profile</span>
        </div>
    </NavLink>
</nav>
