@page "/search"
@using GoldBazar.Client.Web.Components.Shared.Components

<PageTitle>GOLD BAZAR - Filter</PageTitle>

<main class=" bg-red-500">
    <Header Title="جیاکاری" />

    <div class="px-4 mt-4">

        <div class="bg-[#F5F5F5] rounded-2xl h-[57px] w-full grid grid-cols-2">
            <div class="flex items-center justify-center gap-2">
                <span class="text-[#292D32]">جیاکارییەکان</span>
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.175 17.825L10 18.5834C8.90833 19.2584 7.39166 18.5 7.39166 17.15V12.6917C7.39166 12.1 7.05833 11.3417 6.71666 10.925L3.51664 7.55837C3.09164 7.13337 2.75833 6.38338 2.75833 5.87505V3.94171C2.75833 2.93338 3.51668 2.17505 4.44168 2.17505H15.5583C16.4833 2.17505 17.2417 2.93337 17.2417 3.85837V5.70837C17.2417 6.38337 16.8167 7.22505 16.4 7.64171"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M14.2333 10.4083L11.2833 13.3583C11.1666 13.475 11.0583 13.6916 11.0333 13.85L10.875 14.975C10.8166 15.3833 11.1 15.6666 11.5083 15.6083L12.6333 15.45C12.7916 15.425 13.0167 15.3166 13.125 15.2L16.075 12.25C16.5833 11.7416 16.825 11.15 16.075 10.4C15.3333 9.6583 14.7417 9.89998 14.2333 10.4083Z"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M13.8167 10.825C14.0667 11.725 14.7667 12.4249 15.6667 12.6749" stroke="#292D32"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>

            <div class="flex items-center justify-center gap-2">
                <span class="text-[#292D32]">ڕیزکردن بە پێی</span>
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.175 17.825L10 18.5834C8.90833 19.2584 7.39166 18.5 7.39166 17.15V12.6917C7.39166 12.1 7.05833 11.3417 6.71666 10.925L3.51664 7.55837C3.09164 7.13337 2.75833 6.38338 2.75833 5.87505V3.94171C2.75833 2.93338 3.51668 2.17505 4.44168 2.17505H15.5583C16.4833 2.17505 17.2417 2.93337 17.2417 3.85837V5.70837C17.2417 6.38337 16.8167 7.22505 16.4 7.64171"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M14.2333 10.4083L11.2833 13.3583C11.1666 13.475 11.0583 13.6916 11.0333 13.85L10.875 14.975C10.8166 15.3833 11.1 15.6666 11.5083 15.6083L12.6333 15.45C12.7916 15.425 13.0167 15.3166 13.125 15.2L16.075 12.25C16.5833 11.7416 16.825 11.15 16.075 10.4C15.3333 9.6583 14.7417 9.89998 14.2333 10.4083Z"
                        stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M13.8167 10.825C14.0667 11.725 14.7667 12.4249 15.6667 12.6749" stroke="#292D32"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>

    </div>

</main>