@inject ICatalogService CatalogService
@inject IProductImageUrlProvider ImageProvider
@inject IShopService ShopService
@inject IStringLocalizer<Resource> Localizer

<MudContainer>
    @if (_shopItems == null)
    {
        <p>Loading items...</p>
    }
    else if (!_shopItems.Any())
    {
        <p>@Localizer[nameof(Resource.NoMoreItemsFromShopLabel)]</p>
    }
    else
    {
        <div>
            <h3 class="shop-products-title pa-3">
                @Localizer[nameof(Resource.MoreItemsFromShopLabel)] @_goldsmithName
            </h3>
        </div>
        <MudGrid Justify="Justify.Center">
            @if (_shopItems != null && _shopItems.Any())
            {
                @foreach (var product in _shopItems)
                {
                    <MudItem xs="2">
                        <ProductCard Item="product"></ProductCard>
                    </MudItem>
                }
            }
            else
            {
                <p>No products available.</p>
            }
        </MudGrid>
    }
</MudContainer>
